@model HackathonDinwin.Models.UserBuildings

@{
    ViewData["Title"] = "Buildings";
}

<h2>Gebouw overzicht</h2>

<div>
    <h4>Gebruiker: @Model.ActiveUser.Name</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

@for (int i = 0; i < Model.Buildings.Count(); i++)
{
    <div>
        <div>
            @Html.LabelForModel(Model.Buildings[i].BuildingName) |
            @Html.ActionLink("Opslaan", "Update", new { name = Model.Buildings[i].BuildingName })
        </div>

        @for (int j = 0; j < Model.Buildings[i].Categories.Count(); j++)
        {
            <div>
                @Html.LabelForModel(Model.Buildings[i].Categories[j].Name)
            </div>
            @for (int k = 0; k < Model.Buildings[i].Categories[j].Rules.Count(); k++)
            {
                <div>
                    @Html.CheckBoxFor(m => m.Buildings[i].Categories[j].Rules[k].Active)
                    @Html.LabelForModel(Model.Buildings[i].Categories[j].Rules[k].Name)
                </div>
            }    
        }
    </div>
}

<form asp-controller="Home" asp-action="AddBuilding" method="post">
    @Html.Hidden("UserName", Model.ActiveUser)
    @Html.TextBox("BuildingName", "", new { @placeholder = "Naam gebouw" })
    <button type="submit">Toevoegen</button>
</form>
